var total = 0;

function getBundleAttr(arry, attr){
	var collection = [];

	for(var i = 0; i <arry.length; i++){
		collection.push(arry[i][attr]);
	}

	return collection;
}

function getBundleCosts(num, price, b_nums, b_amounts){
	var costs = [];

	for(var i = 0; i < b_nums.length; i++){
		if(num >= b_nums[i]){
			costs.push({
				"bundle_name": b_nums[i],
				"bundle_cost": parseInt(num/b_nums[i])*b_amounts[i]
			});
			total += parseInt(num/b_nums[i])*b_amounts[i];

			num = parseInt(num%b_nums[i]);
		}
	}

	if(num >= 1){
		costs.push({
			"bundle_name": "none",
			"bundle_cost": getSingleCosts(num, price)
		});
		total += getSingleCosts(num, price);
	}

	return costs;
}

function getSingleCosts(num, price){
	var cost = num * price;
	return cost;
}

function submitForm(nums){
	var summary = [];
	var obj = jQuery.parseJSON(nums);
	var nums = obj.nums;

	for(var i = 0; i < nums.length; i++){
		var flowers = jQuery.parseJSON("<%=j @flowers.map {|m| [m.attributes, m.bundles.collect(&:attributes)] }.to_json.html_safe %>");
		var bundles = flowers[i][1];
		var price = flowers[i][0]["price"];
		var b_nums = getBundleAttr(bundles, "b_num");
		var b_amounts = getBundleAttr(bundles, "b_amount");

		summary.push({
			"index" : i,
			"results" : (nums[i] > 0 ? getBundleCosts(nums[i],price,b_nums,b_amounts) : 0 )
		});
	}

	return summary;
}

function getCostInfo(index, results){
	var str = "";
	console.log(results);
	for(var i = 0; i < results[index]["results"].length; i++){
		str += "<span>(Bundle - " + results[index]['results'][i]['bundle_name'] + ") $ " + results[index]['results'][i]['bundle_cost'] + "</span>";
		str += (i == results[index]["results"].length - 1 ? " " : " + "); 
	}

	if(str == "") 
		str = "$ 0";

	return str;
}

function renderResults(nums){
	var summary = submitForm(nums);

	var $div = $("<h4>Summary of your cart: </h4>"+
		             "<p>Roses: "  + getCostInfo(0, summary) + "</p>" + 
		             "<p>Lilies: "  + getCostInfo(1, summary) + "</p>" + 
		             "<p>Tulips: "  + getCostInfo(2, summary) + "</p>" + 
		             "<hr>" + 
		             "<p>Total: $ " + total + "</p>");
	$(".checkout-block").empty().append($div);
}

renderResults("<%=j params.to_json.html_safe %>");