.content
	%h3 Please enter the amount for each item
	%p Click checkout when you have done.
  
	- @flowers.each do |f|
		.flower-block
			.img-block
				= image_tag("/assets/" + "#{f.image}")

			.info-block
				%label 
					Name:
					%span= f.name

				%label 
					Code:
					%span= f.code

				%label
					Price:
					%span= "$ #{f.price}"

			.special-block
				%label.special
					Today's Special:

					- f.bundles.each do |b|
						%label
							%span= "#{b.b_num} For $ #{b.b_amount}"

				%label
					How many do you want to buy?			
				%input{name: "#{f.name}", type: "text", value: "0"}

	.btn-wrap			
		.submit Check Out

	.checkout-block