.flower-block{
	height: 250px;
	background: rgba(122,122,122,0.8);
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;

	.img-block{
		float: left;
		width: 30%;

		img{
			max-height: 100%;
			display: inline-block;
		}
	}

	.info-block{
		float: left;
		width: 25%;

		label{
			font-size: 18px;
			margin-top: 10px;
			display: block;
		}

		span{
			font-size: 16px;
			color: #00ab35;
			margin-left: 10px;
		}		
  }

  .special-block{
  	float: left;

  	label{
			font-size: 18px;
			margin-top: 10px;
			display: block;
		}

		.special{
			color: #b10;
			font-size: 20px;

			span{
				font-size: 18px;
				color: #00ab35;
			  margin-left: 10px;
			}
		}
	}
}

.checkout-block{
	background: rgba(122,122,122,0.8);
	padding: 10px;
	margin-bottom: 30px;

}