html{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Tahoma" serif;

	body{
		margin: 0;
		padding: 0;
		background: url('/assets/snow.jpg') repeat;

		h1{
			text-align: center;
			color: #a3b455;
			padding: 0;
			line-height: 50px;
		}

		.container{
			width: 960px;
			margin: 0 auto;
			
			.content{
				background: rgba(0,0,0,0.6);
				min-height: 800px;
				padding: 20px;
			}

			.btn-wrap{
				text-align: center;
				margin: 0 auto;
				padding: 50px 0;
			}

			header{
				width: 100%;
			}

			footer{
				width: 100%;
				height: 30px;
				text-align: center;

				.copyright{
					font-size: 13px;
					line-height: 30px;
				}
			}

			input[type="text"]{
				width: 100px;
				height: 20px;
				border-radius: 5px;
				margin: 20px 0px 20px 150px;
				padding: 10px;
				float: right;
				font-size: 15px;
			}

			.submit{
				background: #666;
				opacity: 0.9;
				margin: 0 auto;
				text-align: center;
				width: 150px;
				height: 50px;
				display: block;
				border-radius: 5px;
				font-size: 17px;
				color: #eee;
				line-height: 50px;
				padding: 10px 0;
				cursor: pointer;

				&:hover{
					text-decoration: none;
					box-shadow: 0 0 15px 1px #ffffff;
				}
			}
		}
	}
}