html{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Tahoma" serif;

	body{
		margin: 0;
		padding: 0;
		background: url('/assets/snow.jpg') repeat;

		h1{
			text-align: center;
			color: $titleColor;
		}

		.container{
			width: 960px;
			margin: 0 auto;
			
			.content{
				background: rgba(0,0,0,0.6);
				min-height: 800px;
			}

			header{
				width: 100%;
				height: 50px;
			}

			footer{
				width: 100%;
				height: 30px;
				font-size: 13px;
				text-align: center;
			}
		}
	}
}