!!!
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title= @title || "FlowerShop"
  %meta{:content => @description, :name => "description"}
  %meta{:content => "Matt Yao", :name => "author"}
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tag

%body
  = render partial: 'layouts/header'
  
  .container
    = yield

  = render partial: 'layouts/footer'

  = javascript_include_tag "application"